#content{
	width:1000px;
	position:relative;
	top:-30px;
	left:170px;
}
#daohang{
	height:40px;
	line-height:40px;
	padding-left:43px;
}
#daohang a:hover{
	text-decoration:none;
}
#meishi_hg{
	position:relative;
	left:100px;
}
p{
	text-indent:2em;
	line-height:30px;
}
.hg_a{
	margin:15px;
	text-align:center;
	float:left;
}
.hg_b{
	margin:15px;
	text-align:center;
	float:left;
}
.hg_c{
	margin:15px;
	text-align:center;
	float:left;
}
#meishi_xm{
	position:relative;
	left:100px;
}
#meishi_b{
	position:relative;
	left:100px;
}
.meishi_b_a{
	font:20px bold;
	font-style:italic;
	color:red;
}

