#content{
	height:800px;
	position:relative;
	top:-30px;
	margin:0 auto;
}
#daohang{
	height:40px;
	line-height:40px;
	position:absolute;
	left:250px;
}
#daohang a:hover{
	text-decoration:none;
}
#body_left{
	border:1px solid #c9baa5;
	background-image:url(../images/bg.png);
	margin-bottom:20px;
	text-align:center;
	width:200px;
	height:500px;
	position:relative;
	left:300px;
	top:50px;
	font-size:22px;
	float:left;
}
#body_left ul{
	list-style-type:none;
	line-height:80px;
	font-weight:bolder;
}
.left_a_a{
	background-image:url(../images/menubg.gif);
	background-repeat:no-repeat;
	background-position:center;
	color:#b70000;
}
#body_right{
	padding-left:620px;
}
#body_bottom{
	width:1100px;
	position:absolute;
	left:300px;
	line-height:30px;
	text-indent:2em;
	font-weight:bold;
}
#picScroll{
	white-space: nowrap;
	overflow:hidden;
	width:600px;
	margin-left: 550px;
}
